@import "tailwindcss";

:root {
  /* color */
  --accent-1: #2962ff;
  --accent-2: #7c3aed;

  --light-bg: #fcfcfd;
  --light-bg-muted: #f4f4f5;
  --light-text: #111827;
  --light-text-muted: #6b7280;
  --light-border: #e5e7eb;
  --light-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);

  --dark-bg: #0b0b0c;
  --dark-bg-muted: #141416;
  --dark-text: #f5f7fa;
  --dark-text-muted: #9ca3af;
  --dark-border: #23262b;
  --dark-shadow: 0 12px 32px rgba(0, 0, 0, 0.42);

  --bg: var(--light-bg);
  --bg-muted: var(--light-bg-muted);
  --text: var(--light-text);
  --text-muted: var(--light-text-muted);
  --line: var(--light-border);
  --shadow: var(--light-shadow);
}

:root[data-theme="light"] {
  --bg: var(--light-bg);
  --bg-muted: var(--light-bg-muted);
  --text-muted: var(--light-text-muted);
  --text: var(--light-text);
  --line: var(--light-border);
  --shadow: var(--light-shadow);
}

:root[data-theme="dark"] {
  --bg: var(--dark-bg);
  --bg-muted: var(--dark-bg-muted);
  --text: var(--dark-text);
  --text-muted: var(--dark-text-muted);
  --line: var(--dark-border);
  --shadow: var(--dark-shadow);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100vh;
}
